@import "../../assets/styles/vars.gcss";

.wrap {
  min-height: calc(100% - 40rem/var(--f_size));
  display: flex;
  flex-direction: column;

  & > header {
    position: relative;
    margin-bottom: 1rem;
  }

  & > main {
    flex: 1 0 auto;
  }

  & > footer {
    flex: 0 0 auto;

    & a {
      margin-right: 20px;
      color: var(--c_link);
      text-decoration: none;
    }

    & a:hover {
      text-decoration: underline;
    }
  }
}

.head {
  position: fixed;
  background: var(--c_theme);
  color: var(--c_txt_inv);
  padding: 1rem;
  border-bottom: 1px solid var(--c_sub);
}

.head_cont {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 calc(100%/var(--f_size));
}

.logo {

  & > svg {
    width: calc(70rem/var(--f_size));
  }
  color: var(--c_txt_inv);
  font-size: calc(26rem / var(--f_size));
}

.body {
  width: 100%;
  max-width: 1400px;
  margin: calc(20rem / var(--f_size)) auto;
  padding: 0 calc(100% / var(--f_size));
}

.footer {
  padding: 1rem;
  background: var(--c_txt);
  color: var(--c_txt_inv);
}

.foot_cont {
  max-width: 1400px;
  margin: calc(20rem / var(--f_size)) auto;
  padding: 0 calc(100% / var(--f_size));
}