@import "../../assets/styles/vars.gcss";

:root {
  --nav: {
    margin-bottom: calc(30rem / var(--f_size));
    font-size: 1rem;

    & a {
      position: relative;
      overflow: hidden;
      margin-right: 20px;
      color: var(--c_link);
      text-decoration: none;
      padding-bottom: .5rem;

      &::after {
        position: absolute;
        top: 110%;
        left: 0;
        width: 100%;
        height: calc(.75rem/var(--f_size));
        background: var(--c_txt);
        content: '';
        opacity: 0;
        transition: height 0.3s, opacity 0.4s, transform 0.3s;
        transform: translateY(-1rem);
      }

      &:hover,
      &:focus{
        color: var(--c_txt);

        &::after {
          height: calc(1rem / var(--f_size));
          opacity: 1;
          transform: translateY(-.3rem);
        }
      }
    }
  }
}

.nav {
  @apply --nav;
  text-align: right;
}

:global(.nav) {
  @apply --nav;
}






