@import "../../assets/styles/vars.gcss";

.card {
  display: block;
  margin-bottom: 1rem;
  background-color: var(--c_card);

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.card_pic {
  position: relative;
  float: left;
  margin-right: 1rem;
  text-align: left;
  min-height: calc(200rem/var(--f_size));
  /*max-width: calc(200rem/var(--f_size));*/

  & > span {
    position: absolute;
    left: 50%;
    top: 50%;
    color: var(--c_txt_inv);
    z-index: 10;
  }
}

.card_info {
  position: relative;
  min-height: calc(200rem/var(--f_size));

  & > h2 {
    margin: 0;
    font-size: calc(18rem / var(--f_size));
  }

  & > button {
    position: absolute;
    top: 1rem; right: 1rem;
  }

  & > p {
    margin-bottom: calc(4rem/var(--f_size));
  }
}

.tags {
  margin: 1.2rem 0 .5rem;

  & :global(.mdl-chip) {
    margin-right: .5rem;
  }
}