@import "../../assets/styles/vars.gcss";

.card {
  position: relative;
  padding: 0 1rem;
  width: 25%;
  min-height: calc(300rem/var(--f_size));
  margin-bottom: 2rem;
}

.card_pic {
  position: absolute;
  top: 0; left: 1rem; right: 1rem;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 2000px color(#333 alpha(60%));
}

.card_info {
  position: relative;
  z-index: 10;
  text-align: center;
  color: var(--c_txt_inv);
  padding: 6rem 1rem 1rem;

  & > h2 {
    font-size: calc(24rem / var(--f_size));
    line-height: calc(30rem / var(--f_size));
  }

  & > button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  & > p {
    font-weight: bold;
    font-size: calc(18rem / var(--f_size));
  }
}

@media (max-width: 1100px) {
  .card {
    width: calc(100%/3);
  }
}

@media (max-width: 700px) {
  .card {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .card_list {
    flex-flow: column;
  }

  .card {
    width: 100%;
  }
}