.btn {
  position: fixed;
  bottom: 3.5rem;
  right: 1rem;
}

.groupList {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  align-items: stretch;
  justify-content: space-between;
}