@import "../../assets/styles/vars.gcss";

:global(html) {
  background-color: var(--c_bg);
  @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
}

.wrap {
  max-width: 1600px;
  margin: calc(20rem/var(--f_size)) auto;
  padding: 0 calc(100%/var(--f_size));
  min-height: calc(100% - 40rem/var(--f_size));

  display: flex;
  flex-direction: column;

  & > header {
    position: relative;
    margin-bottom: calc(50rem / var(--f_size));
  }

  & > main {
    flex: 1 0 auto;
  }

  & > footer {
    flex: 0 0 auto;

    & a {
      margin-right: 20px;
      color: var(--c_link);
      text-decoration: none;
    }

    & a:hover {
      text-decoration: underline;
    }
  }
}

.logo {
  @import url('https://fonts.googleapis.com/css?family=Voltaire');
  position: absolute;
  left: 0;
  top: 0;
  width: calc(54rem/var(--f_size)); height: calc(54rem/var(--f_size));
  padding: calc(7rem/var(--f_size)) 0 0 calc(8rem/var(--f_size));
  font-family: 'Voltaire', sans-serif;
  text-transform: uppercase;
  margin-right: 2rem;
  color: var(--c_txt);
  font-size: calc(26rem / var(--f_size));
  text-decoration: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: var(--c_txt);
  }

  &::before {
    height: 2px;
    width: calc(54rem/var(--f_size));
    transition: width .3s, background-color .13s linear .25s;
  }

  &::after {
    width: 2px;
    height: calc(54rem/var(--f_size));
    transition: all .2s;
    transition-delay: .25s;
  }

  &:hover {
    &::before {
      background: var(--c_emph);
      width: calc(34rem/var(--f_size));
    }

    &::after {
      background: var(--c_emph);
      /*height: calc(34rem/var(--f_size));*/
    }
  }

  & mark {
    display: block;
    font-size: calc(18rem / var(--f_size));
    background: none;
    color: var(--c_txt);
    white-space: nowrap;
  }
}