@import "../../assets/styles/vars.gcss";

.style_guide {
  & > section {
    margin-bottom: 4rem;
  }

  & :global(.btn), & :global(.btn_i) {
    margin-right: 2rem;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: stretch;
}

.heading {
  flex: 4;
  padding-right: calc(100%/14);
}

.content {
  flex: 9;
}

@media (max-width: 1180px) {
  .row {
    flex-direction: column;
  }

  .heading {
    flex: 1 100%;
  }

  .content {
    flex: 1 100%;
  }
}

.post {
  font-family: 'Poppins', sans-serif;
}

.post_image {
  position: relative;
  width: 100%;
  height: calc(300rem/var(--f_size));
  background-image: url('./img/mendocino.jpg');
  background-size:cover;
  box-shadow:inset 0 0 0 2000px color(#3e6edf alpha(20%));
}

.post_info {
  margin: 1rem 5rem;

  & > a {
    color: var(--c_txt);
    text-decoration: none;
  }

  & > a:hover {
    color: var(--c_link);
  }

  & > h4 {
    font-weight: var(--f_bold);
  }
}

@media (max-width: 1000px) {
  .post_info {
    width: 75%;
  }
}

@media (max-width: 900px) {
  .post_info {
    width: 95%;
  }
}

.likes {
  position: absolute;
  top: 10px; right: 10px;
}

.desc {
  margin: calc(20rem/var(--f_size)) 0 calc(40rem/var(--f_size));
  font-weight: var(--f_light);
}

.link_full_post {
  font-weight: var(--f_medium);
}

.icon {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  color: var(--c_sub);
  font-size: 12px;

  & svg {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    fill: var(--c_txt);
    transition: all 0.2s ease-in;
  }

  &:hover {
    cursor: pointer;
    & svg {
      fill: var(--c_sub);
    }
  }
}